.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  height: 37.5rem;
  width: 59.375rem;
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .container {
    width: 23.438rem;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    background-color: var(--BG);
    justify-content: center;
    align-items: center;
  }
}
