.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 37.5rem;
  width: 28.125rem;
  font-family: "Ubuntu", sans-serif;
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elementsContainer h1 {
  color: var(--denim);
  font-size: 2rem;
  font-weight: bold;
}

.elementsContainer p {
  color: var(--gray);
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 21.438rem;
    height: 23.5rem;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  }

  .elementsContainer p {
    width: 18.483rem;
  }
}
